body{
	font-family : 'kristen itc';
	color :teal;
}
h1{
	text-align : center;
}
.principal{
	width : 100px;
	margin :80px 280px;
	display : block;
}
input{
	display : block;
	width : 400px;
	margin : 20px;
	height : 30px;

	
}
#connect{
	
	text-align : center;
	box-align : center;
	color : teal;
	font-family : 'kristen itc';
	width : 100px;
}
#ins{
	color : teal;
	opacity : 0.7;
	
}
rgb(255,32,32)